In [9]:
import pandas as pd

df = pd.read_csv('./out/2022_billionaires.csv', index_col=0)
# df.head()

In [10]:
df = df.drop(df[df.name == "Name"].index)
df = df.reset_index(drop=True)
df['rank'] = pd.to_numeric(df['rank'])
df['rank'] = df['rank'].astype('int32')

mean = int(pd.to_numeric(df[df['age'].notnull()]['age']).mean())
df['age'].fillna(value=mean, inplace=True)
df['age'] = pd.to_numeric(df['age'])
df['age'] = df['age'].astype('int32')
# print(df.info())
df.head()

,rank,name,networth,age,country,source,industry
0,1,Elon Musk,$219 B,50,United States,"Tesla, SpaceX",Automotive
1,2,Jeff Bezos,$171 B,58,United States,Amazon,Technology
2,3,Bernard Arnault & family,$158 B,73,France,LVMH,Fashion & Retail
3,4,Bill Gates,$129 B,66,United States,Microsoft,Technology
4,5,Warren Buffett,$118 B,91,United States,Berkshire Hathaway,Finance & Investments